<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.spring.dao.SqlInterface">
	<!-- 리스트 불러오기 -->
	<select id="list" resultType="com.spring.dto.BoardBean">
		SELECT * FROM bbs ORDER BY idx DESC
	</select>
	
	<!-- 글쓰기 -->
	<insert id="write">
		INSERT INTO bbs(idx, user_name, subject, content)
		VALUES(bbs_seq.NEXTVAL, #{param1}, #{param2}, #{param3})
	</insert>
	
	<!-- 조회수 증가 -->
	<update id="upHit">
		UPDATE bbs SET bHit = bHit + 1 WHERE idx = #{param1}
	</update>
	
	<!-- 상세보기 -->
	<select id="detail" resultType="com.spring.dto.BoardBean">
		SELECT * FROM bbs WHERE idx = #{param1}
	</select>
	
	<!-- 삭제 -->
	<delete id="delete">
		DELETE FROM bbs WHERE idx = #{param1} 
	</delete>
	
	<!-- 수정 폼 -->
	<select id="modifyForm" resultType="com.spring.dto.BoardBean">
		SELECT * FROM bbs WHERE idx = #{param1}
	</select>
	
	<!-- 수정 -->
	<update id="modify">
		UPDATE bbs SET user_name=#{param2}, subject=#{param3}, content=#{param4}
		WHERE idx=#{param1}
	</update>

</mapper>
